### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

For example: List = [54, 44, 27, 79, 91, 41]

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

### Solution for Exercise 1

In [1]:
lst = [34, 54, 67, 89, 11, 43, 94]
print("Original list ", lst)
#lst.remove(11)
lst.pop(4)
print("List After removing element at index 4 ", lst) # [34, 54, 67, 89, 43, 94]
lst.insert(2, 11)
print("List after Adding element at index 2 ", lst) # [34, 54, 11, 67, 89, 43, 94]
lst.append(11)
print("List after Adding element at last ", lst) # [34, 54, 11, 67, 89, 43, 94, 11]

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

## Exercise Question 2: Given a two list of equal size create a list of unique elements from both the lists into a seperate list

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

### Solution for Exercise 2

In [ ]:
lst1 = [2, 3, 4, 5, 6, 7, 8]
lst2 = [4, 9, 16, 25, 36, 49, 64]
print("First List", lst1)
print("Second List", lst2)
lst3 = list(set(lst1 +lst2))
print(lst3)

## Exercise Question 3: Remove duplicate from a list and create a tuple and find the minimum and maximum number (Hint: Try Functions Min() and Max() )

Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

## Exercise Question 4: Display the each word in the string Count the number of words in a string and display it (Including the white spaces)

In [19]:
#Printing each words seperately 
a = "what's up?"
print(*a)

w h a t ' s   u p ?

The sample string: Welcome to Python
Printing each words seperately:  W e l c o m e   t o   P y t h o n
The Length of the string 17

##  Exercise Question 5: Write a Python program to access dictionary keys element by index. i.e. Use indexing methods to print the first key

The dictionary is:  {'physics': 80, 'math': 90, 'chemistry': 86}
The key element accesed by index:  physics